// Source files (under test).
- each path in options.sourceUrls
  script(type='text/javascript', src="#{path}")

// Sample code (compile into CommonJS modules).
script(type='text/javascript', src="#{sampleCode}")

// Helper files.
- each path in options.helperPaths
  script(type='text/javascript', src="#{options.url}/specs/#{path}")

// Spec files.
- each path in options.specPaths
  script(type='text/javascript', src="#{options.url}/specs/#{path}")
