!!! 5
html(lang='en')
  head
    title= options.title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    
    // Stylesheets.
    link(type='text/css', rel='stylesheet', href="#{baseUrl}/normalize.css")
    link(type='text/css', rel='stylesheet', href="#{baseUrl}/pygments.css")
    link(type='text/css', rel='stylesheet', href="#{baseUrl}/stylesheets/core/modules/harness.css")
    - each url in options.css
      link(type='text/css', rel='stylesheet', href="#{url}")
    
    // Test Harness.
    - JS_PATH = core.baseUrl + '/javascripts'
    script(type='text/javascript', src="#{options.libsJs}")
    script(type='text/javascript', src="#{JS_PATH}/core/harness.js")
    
    script
      window.HARNESS = {
        strings: {
          suites: "#{options.strings.suites}",
          specs: "#{options.strings.specs}"
        }
      };
    
    :coffeescript
      fn = (fnName, colName) -> 
        colName = fnName unless colName?
        HARNESS[colName] = []
        window[fnName] = (params...) -> HARNESS[colName].push params
      fn 'describe', 'suites'
      fn 'it', 'specs'
      fn 'beforeEach'
      fn 'afterEach'
      fn 'beforeAll'
      fn 'afterAll'
      
      # Boot the Harness.
      $ -> 
        TestHarness = require 'open.client/harness'
        new TestHarness().init( strings:HARNESS.strings )
        
    
    // Load tests scripts.
    != partial('./scripts')
    
  body
    
