!!! 5
html(lang='en')
  head
    title= options.title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    
    // Stylesheets.
    link(type='text/css', rel='stylesheet', href="#{baseUrl}/stylesheets/libs/normalize.css")
    link(type='text/css', rel='stylesheet', href="#{baseUrl}/stylesheets/core/harness.css")
    - each url in options.css
      link(type='text/css', rel='stylesheet', href="#{url}")
    
    // Test Harness.
    - JS_PATH = core.baseUrl + '/javascripts'
    script(type='text/javascript', src="#{options.libsJs}")
    script(type='text/javascript', src="#{JS_PATH}/core/harness.js")
    
    :coffeescript
      # Catch root level spec descritions.
      window.HARNESS =
            suites:     []
            specs:      []
            beforeEach: []
            afterEach:  []
            beforeAll:  []
            afterAll:   []
      window.describe   = (params...) -> HARNESS.suites.push params
      window.it         = (params...) -> HARNESS.specs.push params
      
      window.beforeEach = (params...) -> HARNESS.beforeEach.push params
      window.afterEach  = (params...) -> HARNESS.afterEach.push params
      
      window.beforeAll  = (params...) -> HARNESS.beforeAll.push params
      window.afterAll   = (params...) -> HARNESS.afterAll.push params
      
      # Boot the Harness.
      $ -> 
        TestHarness = require 'open.client/harness'
        new TestHarness().init()
    
    // Load tests scripts.
    != partial('./scripts')
    
  body
    
