!!!
html
  head
    title= title
    link(type='text/css', rel='stylesheet', href="#{baseUrl}/stylesheets/libs/normalize.css")
    link(type='text/css', rel='stylesheet', href="#{baseUrl}/stylesheets/dev/home.css")
    
  body
    .dev
      h1 Open.Core
      
      h2 Tests
      ul
        li
          a(href="#{baseUrl}/specs", target='_blank') Specs
        li
          a(href="#{baseUrl}/harness", target='_blank') Test Harness
          
