!!! 5
html(lang='en')
  head
    title= title
    
    // Stylesheets.
    // link(type='text/css', rel='stylesheet', href="#{testRunnerDir}/jasmine.css")
    
    // Test Harness.
    script(type='text/javascript', src="#{testRunnerDir}/libs/libs-min.js")
    script(type='text/javascript', src="#{testRunnerDir}/core/harness.js")

    // Source files (under test).
    - each path in sourceUrls
      script(type='text/javascript', src="#{path}")
    
    // Sample code (compile into CommonJS modules).
    script(type='text/javascript', src="#{sampleCode}")
    
    // Helper files.
    - each path in helperPaths
      script(type='text/javascript', src="#{url}/specs/#{path}")

    // Spec files.
    - each path in specPaths
      script(type='text/javascript', src="#{url}/specs/#{path}")
    
    :coffeescript
      $ -> 
        TestHarness = require 'open.client/harness'
        harness = new TestHarness()
        console.log 'harness', harness
    
  body
    
    
    
    h1 Harness!
    
