!!! 5
html(lang='en')
  head
    title= title
    
    // Stylesheets.
    link(type='text/css', rel='stylesheet', href="#{baseUrl}/stylesheets/libs/normalize.css")
    link(type='text/css', rel='stylesheet', href="#{baseUrl}/stylesheets/core/harness.css")
    
    // Test Harness.
    - JS_PATH = core.baseUrl + '/javascripts'
    script(type='text/javascript', src="#{JS_PATH}/libs/libs-min.js")
    script(type='text/javascript', src="#{JS_PATH}/core/harness.js")
    :coffeescript
      # Catch root level spec descritions.
      window.HARNESS =
            descriptions: []
            its: []
      window.describe = (params...) -> HARNESS.descriptions.push params
      window.it       = (params...) -> HARNESS.its.push params
      
      # Boot the Harness.
      $ -> 
        TestHarness = require 'open.client/harness'
        new TestHarness().init()
    
    # Load tests scripts.
    != partial('./scripts')
    
  body
    
