!!! 5
html(lang="en")
  head
    title= title

    // Test runner.
    link(type='text/css', rel='stylesheet', href="#{libFolder}/jasmine.css")
    script(type='text/javascript', src="#{libFolder}/jasmine.js")
    script(type='text/javascript', src="#{libFolder}/jasmine-html.js")

    // Source files (under test).
    - each path in sourceUrls
      script(type='text/javascript', src="#{path}")
    
    // Sample code (compile into CommonJS modules).
    script(type='text/javascript', src="#{sampleCode}")
    
    // Helper files.
    - each path in helperPaths
      script(type='text/javascript', src="#{url}/specs/#{path}")

    // Spec files.
    - each path in specPaths
      script(type='text/javascript', src="#{url}/specs/#{path}")

  body
    :coffeescript
      jasmine.getEnv().addReporter(new jasmine.TrivialReporter())
      jasmine.getEnv().execute()